NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_WP_API_URL=https://thorius.com.tr/wp-json/wp/v2
WP_API_URL=
TUTOR_CONSUMER_KEY=
TUTOR_CONSUMER_SECRET=
BUNNY_LIBRARY_ID=
BUNNY_API_KEY=
PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
